$color-primary: #0d253f;
$color-secondary: #01b4e4;
$color-tertiary: #90cea1;
$color-white: #ffffff;
$color-text: #000000;
$color-lgrey: rgb(227, 227, 227);
$color-grey: #acacac;
$color-gold: #ffd700;