@import '/src/app/variables.scss';

.nav {
  background-color: $color-primary;
  color: $color-white;
  height: 64px;

  &__content {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1rem;
    padding: 0 1.25rem;
  }
  
  &__navigation {
    max-width: 100%;
    gap: .2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    span { cursor: pointer; }
  }

  &__wrapper{
    gap: .75rem;
    width: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__search .open {
    color: $color-secondary;
    font-weight: 700;
  }

  &__search .close {
    color: $color-white;
    font-weight: 700;
  }

  &__user {
    height: 4rem;
    position: relative;
    top: 1.1rem;
    display: block;

    .account_tooltip {
      position: absolute;
      top: 2.3rem;
      left: -4rem;
      width: 9.5rem;
      max-width: 9.5rem;
      background-color: $color-white;
      color: $color-text;
      padding: .5rem;
      border-radius: .3rem;
    }

    .tooltip_arrow {
      position: absolute;
      top: -0.9rem;
      left: 4rem;
      color: white;
    }
  }

  &__landscape_links {
    display: none;
  }

  &__mobile_menu {
    display: inline-block;
    position: fixed;
    top: 64px;
    left: -90%;
    width: 90%;
    height: 100%;
    background: rgba($color-primary, 0.9);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    z-index: 9999;
    transition: ease .3s;
    padding: 20px;
    box-sizing: border-box;
  
    &.active {
        left: 0;
    }
  
    li {
      padding-bottom: .6rem;
    }
  
    a {
      text-decoration: none;
      color: $color-white;
      font-weight: 600;
      font-size: 1.3rem;
    }
  
    .small {
      margin-top: 1.1rem;
  
      a {
        font-size: 1rem;
        color: rgba($color-white, 0.6);
      }
    }
  
    .sub_menu  {
      margin-top: .75rem;
  
      li a {
        color: #fff;
        font-weight: 400;
        font-size: 1em;
      }
    }
  }

  /*Landscape styles */
  &.landscape {
    .nav__hamburger { display: none; }

    .nav__landscape_links { 
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;

      a {
        color: $color-white;
        font-weight: 600;
        text-decoration: none;
      }
      
      .nav__link {
        height: 4rem;
        position: relative;
        top: 1.3rem;
        display: block;
      }
    }

    .nav__wrapper {
      gap: 2rem;

      .plus {
        font-weight: 700;
        font-size: 1.6rem;
      }
    }

    .nav__movies,
    .nav__people,
    .nav__shows,
    .nav__more {
      position: relative;

      &_expanded {
        position: absolute;
        max-width: 10rem;
        border-radius: .3rem;
        background-color: $color-white;
        padding: 1rem 1.5rem;
        width: 10rem;
        top: 3.2rem;
        left: -.5rem;

        a {
          color: $color-text;
          font-size: 1rem;
          font-weight: 400;
          transition: .2s ease all;
        }

        li {
          margin-bottom: .5rem;
        }

        li:last-child { margin-bottom: 0; }

        a:active,
        a:hover {
          color: $color-secondary;
        }
      }
    }

    .nav__navigation {
      justify-content: space-around;
    }
  }
}

.search {
  width: 100%;
  position: absolute;
  top: 64px;
  left: 0;
  border-top: 1px solid rgba($color-lgrey, 1);
  border-bottom: 1px solid rgba($color-lgrey, 1);

  &__bar {
    width: 100%;
    background-color: $color-white;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    max-width: 100%;
    padding: 0 1.2rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__form {
    display: block;
    width: 100%;
    padding: 0;

    label {
      display: flex;
      align-items: center;
      gap: .5rem;
    }

    input:placeholder {
      color: $color-grey;
    }

    input {
      font-size: 1.1rem;
      border: none;
      font-style: italic;
      color: $color-grey;
      width: 100%;
    }

    input:active,
    input:focus {
      outline: none;
      border-bottom: 1px solid $color-secondary;
    }
  }

  &__icon {
    color: $color-text;
    font-weight: 700;
  }
}

.hide {
  display: none;
}