<header class="nav" [ngClass]="isDesktop ? 'landscape' : 'portrait'">
  <div class="nav__mobile_menu" [ngClass]="menuShowing ? 'active' : ''">
    <ul class="primary">
      <li>
        <a class="no_click" href="/movie" (click)="expandMobileMenu($event)">Movies</a>
        <ul class="sub_menu movie" [ngClass]="menuExpandedMovies ? '' : 'hide'">
          <li><a href="/movie">Popular</a></li>
          <li><a href="/movie/top-rated">Top Rated</a></li>
          <li><a href="/movie/upcoming">Upcoming</a></li>
          <li><a href="/movie/now-playing">Now Playing</a></li>
        </ul>
      </li>
      <li>
        <a class="no_click" href="/tv" (click)="expandMobileMenu($event)">TV Shows</a>
        <ul class="sub_menu tv" [ngClass]="menuExpandedShows ? '' : 'hide'">
          <li><a href="/tv">Popular</a></li>
          <li><a href="/tv/top-rated">Top Rated</a></li>
          <li><a href="/tv/on-the-air">On TV</a></li>
          <li><a href="/tv/airing-today">Airing Today</a></li>
        </ul>
      </li>
      <li>
        <a class="no_click" href="/person" (click)="expandMobileMenu($event)">People</a>
        <ul class="sub_menu person" [ngClass]="menuExpandedPeople ? '' : 'hide'">
          <li><a href="/person">Popular People</a></li>
        </ul>
      </li>
    </ul>

    <ul class="small">
      <li><a href="/bible">Contribution Bible</a></li>
      <li><a href="/apps">Apps</a></li>
      <li><a href="/discuss">Discussions</a></li>
      <li><a href="/leaderboard">Leaderboard</a></li>
      <li><a href="/documentation/api">API</a></li>
      <li><a href="/talk">Support</a></li>
      <li><a href="/about">About</a></li>
    </ul>

    <ul class="small">
        <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
  <div class="nav__content">
    <ul class="nav__navigation">
      <li class="nav__hamburger">
        <span *ngIf="!this.menuShowing" class="material-icons mobile-menu" (click)="this.menuShowing = !this.menuShowing; this.searchShowing = false">
          menu
        </span>  
        <span *ngIf="this.menuShowing" class="material-icons mobile-menu" (click)="this.menuShowing = !this.menuShowing">
          menu_open
        </span>
      </li>
      <li  class="nav__logo">
        <a href="#" *ngIf="!isDesktop"><img src="assets\logo-primary-long.svg" alt="The movie database logo" width="55" height="40"></a> 
        <a href="#" *ngIf="isDesktop"><img src="assets\logo-navigation.svg" alt="The movie database logo" width="154" height="20"></a> 
      </li>
      <li class="nav__landscape_links">
        <div class="nav__movies" (mouseover)="menuMoviesHover=true" (mouseout)="menuMoviesHover=false">
          <a class="nav__link" href="/tv">Movies</a>
          <ul class="nav__movies_expanded" [ngClass]="menuMoviesHover ? '' : 'hide'">
            <li><a href="#">Popular</a></li>
            <li><a href="#">Now Playing</a></li>
            <li><a href="#">Upcoming</a></li>
            <li><a href="#">Top Rated</a></li>
          </ul>
        </div>
        <div class="nav__shows" (mouseover)="menuShowsHover=true" (mouseout)="menuShowsHover=false">
          <a class="nav__link" href="#">TV Shows</a>
          <ul class="nav__shows_expanded" [ngClass]="menuShowsHover ? '' : 'hide'">
            <li><a href="#">Popular</a></li>
            <li><a href="#">Airing Today</a></li>
            <li><a href="#">On Tv</a></li>
            <li><a href="#">Top Rated</a></li>
          </ul>
        </div>
        <div class="nav__people" (mouseover)="menuPeopleHover=true" (mouseout)="menuPeopleHover=false">
          <a class="nav__link" href="#">People</a>
          <ul class="nav__people_expanded" [ngClass]="menuPeopleHover ? '' : 'hide'">
            <li><a href="#">Popular People</a></li>
          </ul>
        </div>
        <div class="nav__more" (mouseover)="menuMoreHover=true" (mouseout)="menuMoreHover=false">
          <a class="nav__link" href="#">More</a>
          <ul class="nav__more_expanded" [ngClass]="menuMoreHover ? '' : 'hide'">
            <li><a href="#">Discussion</a></li>
            <li><a href="#">Leaderboard</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Api</a></li>
          </ul>
        </div>
      </li>
      <div class="nav__wrapper">
        <li class="nav__plus" *ngIf="isDesktop">
          <span class="material-symbols-outlined plus">
            add
          </span>
        </li>
        <li class="nav__language" *ngIf="isDesktop">
          <span class="material-symbols-outlined">
            language
            </span>
        </li>
        <li class="nav__notifications">
          <span class="material-symbols-outlined">
            notifications
          </span>
        </li>
        <li class="nav__user" (mouseover)="showAccountTooltip=true" (mouseout)="showAccountTooltip=false">
          <span class="material-symbols-outlined">
            account_circle
          </span>
          <div class="account_tooltip" [ngClass]="showAccountTooltip ? '' : 'hide'">
            <span class="material-symbols-outlined tooltip_arrow">
              arrow_drop_up
            </span>
            <p>Profile and Settings</p>
          </div>
        </li>
        <li class="nav__search">
          <span *ngIf="!searchShowing" class="material-symbols-outlined open" (click)="showSearch()">
            search
          </span>
          <span *ngIf="searchShowing" class="material-symbols-outlined close" (click)="showSearch()">
            close
            </span>
        </li>
      </div>
    </ul>
  </div>
  <div class="search" *ngIf="searchShowing">
    <section class="search__bar">
      <div class="search__content">
        <form action="/search" class="search__form">
          <label>
            <span class="material-symbols-outlined search__icon">
              search
            </span>
            <input type="text" placeholder="Search" (keydown.enter)="onKeydown($event)">
          </label>
          <input type="submit" class="hide">
        </form>
      </div>
    </section>
  </div>
</header>